// customize sidebar navigator menu 

// hide faq and about (from anon) //

.nav-pills .nav-item-faq {display: none}
.anon .nav-pills .nav-item-about {display: none}

// change order of lower menu sections //

.sidebar-section-wrapper.sidebar-section[data-section-name="categories"] {
  order: 1; 
}
.sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
  order: 2; 
}
.sidebar-section-wrapper.sidebar-section[data-section-name="chat-dms"] {
  order: 4; 
}
.sidebar-section-wrapper.sidebar-section[data-section-name="chat-channels"] {
  order: 5; 
}
.sidebar-section-wrapper.sidebar-section[data-section-name="messages"] {
  order: 3; 
}

// * side-bar header formatting *

.sidebar-section-wrapper .sidebar-section-header {
    font-size: 15;
    //color: #555555;
    font-weight: 600;
    // align-items: left;
}

//.anon .btn-flat.sidebar-more-section-links-details-summary,
//.anon .sidebar-more-section-links-details-summary.json-editor-btn-collapse {
//    display: none;
//}

.anon .sidebar-section-wrapper.sidebar-section[data-section-name="cfl-forums"] {
   display: none;
}

// * turn off the lock icon for all secure categories in the sidebar *

//.sidebar-section-link-wrapper .sidebar-section-link-prefix.icon .prefix-badge, .sidebar-section-link-wrapper .sidebar-section-link-prefix.span .prefix-badge {
//   display: none;
//}

// * hide lock icon for the select categories * 

.category-drop .restricted, [href^="/c/off-topic"] {
    .d-icon-lock {
       display: none;
    }
}

// * sidebar controls *

body.has-sidebar-page #main-outlet-wrapper {
    gap: 0 0.8em;
}

.sidebar-wrapper {
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    padding-right: 0px;
}

.sidebar-wrapper .sidebar-sections {
    padding: 0.8em 0em 0em 0em;
}

//:root {
    //--d-sidebar-row-horizontal-padding: 1.25rem;
//    --d-sidebar-row-height: 2.05em;
//}

// * hide More section in sidebar menu *

//.btn-flat.sidebar-more-section-links-details-summary, 
//.sidebar-more-section-links-details-summary.json-editor-btn-collapse {
//    display: none;
//}

// * sidebar bullets *

.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
    width: .7em;
    height: .7em;
    border-radius: 100%;
}

// * disable the link to faq, badges, anniversaries *

.sidebar-section-link-wrapper {
      .sidebar-section-link {
      &[data-link-name="anniversaries"] {
      display: none;
      }
  }
}

// * hide the Links globe icon* 

//.sidebar-custom-sections .d-icon-globe {
//  display: none;
//}

// * category drop down selector * 

// * hide the lock icon for category drop down * 

//.category-drop .restricted .d-icon-lock {
//       display: none;
//}


// * badge-wrapper bullets *

//.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
//  display: none;
//}

// * hide lock icon for badge wrapper * 

//.badge-wrapper.bullet .d-icon-lock {
//    display: none;
//}

// * customize user menu *

.user-menu.revamped {
    border-radius: 10px;
}

// * search panel *

.menu-panel.drop-down {
    border-radius: 10px;
}

// * pop up menus *

.popup-menu, .popup-menu .btn {
    border-radius: 10px;
}
